.carrusel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; 
  position:cover;
  
}

.carrusel-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; 
  background: linear-gradient(to bottom, transparent 0%, #0f0f13 100%);
}
.carrusel-slide {
  width: 100%;
  height: 100%; 
  filter: blur(10px);
}

.carrousel-container{
	background-color: black;
	color: black;
}

.carrusel-img.fade-in {
  animation: entradaSuave 0.5s ease-in-out forwards;
}

@keyframes entradaSuave {
  from { opacity: 0; }
  to { opacity: 1; }
}


