

.headerDiv{
	
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
	height:100%;
}


.headerContainer{
	height: 70vh; 
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position:relative;
  
}

.headerContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%; 
  background: linear-gradient(to bottom, transparent 0%, var(--color1) 100%);
}

.cFilter{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}


.cFilter .carrusel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.headerDivTitle{
	color: #ffffff;
	font-size: 5rem;
}

.cAnim{
	animation: 3s ease-in 1s;
	background-color:black;
	color: black;
	
}

.botonLogin{
	font: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
	padding: .8rem  1.6rem;
	border:none;
	color:var(--color2);
	background-color:var(--color6);
	border-radius: 12px;
	margin-top:2rem;
	font-weight:600;
	transition:.1s;
	box-shadow:0 0 15px .8;
}

.botonLogin:hover{
	background-color:var(--color4);
	color:var(--color6);
	box-shadow:0 0 20px var(--color6);
}

.highlightedReviews {
	justify-content:center;
	align-items:center;
    display: flex;
    flex-direction: row;
    height:70vh;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 20px;
    background-color:var(--color1);
    width: 100%;
  	padding:0px 300px; 
  	overflow:hidden;
}

.footer{
	background-color:var(--color0);
}

.highlighterReviewsTitle{
	font-size: 4rem;
	color:var(--color5);
	display:flex;
	justify-content:center;
	padding-top:10rem;
	background-color:var(--color1)
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide{
	display:flex;
	justify-content:center;
	align-items:center;
	width:auto;
}


swiper-container::part(bullet-active) {
  background-color: #ffffff; 
}


