.textolistadogrupos {



	color: white;
}


.divprincipallistadogrupos {


	background-color: var(--color1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 200px;
}