body {
    margin: 0;
    padding: 0;
    
}

.contenedorPrincipal{
	
	
	display:flex;
	flex-direction: row;
	width: 100%;        
    height: 100vh;        
    margin: 0;
    border: none;
    background-color: #4682B4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/aaa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    
}



.divlogin{
	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	border-radius: 20px;
	padding: 2rem 10rem 2rem 10rem;
	background-color: #F5F5F5;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	
	position: relative;
	
	
	
	
	
}

.bienvenido {
	
	
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}





.divboton {
	
	padding-top: 2rem;
	padding-bottom: 1rem;
	
	
	
}

.ingresar {
	
	font-size: 20px;
	padding-left: 6rem;
	padding-right: 6rem;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	
	
}

.ingresar:hover {
box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.1);

}

.bordecolor{
	
	position: absolute;
	
	top: 4%; 
  bottom: 4%;
  left: 4%;
  right: 4%;
  
  
  box-sizing: border-box;
  border-radius: 20px;
  pointer-events: none
}

.aviso{
	
		padding:0;
		font-family: 'Roboto', sans-serif;
		cursor: pointer;
}


.input {
	
	padding: 20px;
	border-radius: 20px;
	padding: 1rem 15rem 1rem 1rem;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	border: 3px solid #0d1582
}


.inputs {
	
	display:flex;
	flex-direction: column;
	gap: 15px;
	
	
}

.primerDiv {
	
	display:flex;
	
	 
	width: 100%;
	height: 100vh;
	border: none;
	align-items: center;
	justify-content: center;
	
	
	

	
}
	


.segundoDiv {
	
	
	width: 40%;
	height: 100vh;
	border: none;
	
	border: 2px solid #4A90E2;
  border-radius: 15px;
  padding: 20px;
}


.imagen {
	
	display: flex;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	
	
}